@import "tailwindcss";
@import "react-phone-number-input/style.css";

@font-face {
  font-family: 'After';
  src: url('/fonts/After/PostScript/After-Regular.woff2') format('woff2'),
       url('/fonts/After/PostScript/After-Regular.woff') format('woff'),
       url('/fonts/After/PostScript/After-Regular.otf') format('opentype');
  font-weight: 11;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #a19696;
  --brand-primary: #04858A;
  --brand-secondary: #04858A;
  --brand-light: #FFFFFF;
  --brand-dark: #4e4e57;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #f6f6f6;
  }
}

* {
  font-family: 'After', Arial, Helvetica, sans-serif;
  font-weight: 10;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'After', Arial, Helvetica, sans-serif;
  font-weight: 10;
}

.description,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 150;
}

.sans-serif {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 150;
}

.chat-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 150;
}

.PhoneInputCountrySelect,
.PhoneInputCountrySelectSelect {
  background-color: #fcfcfc;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.5);
}

.PhoneInputCountrySelectSelect option {
  background-color: #181819;
  color: #fff;
}
