@import "tailwindcss";
@import "react-phone-number-input/style.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.PhoneInputCountrySelect,
.PhoneInputCountrySelectSelect {
  background-color: #101828;
  color: #fff;
  border-color: rgba(148, 163, 184, 0.5);
}

.PhoneInputCountrySelectSelect option {
  background-color: #101828;
  color: #fff;
}
